.button-primary {
  width: 100%;
  height: 30px;
  max-width: 200px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  background-color: #7d913d;
  border: solid 1px #7d913d;
  color: white;
}

.button-primary:active {
  background-color:#4d6400;
  border: solid 1px #4d6400;
}

.button-secondary {
  width: 100%;
  height: 30px;
  max-width: 200px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  background-color: white;
  border: solid 1px #7d913d;
  color: #7d913d;
}

.button-secondary:active {
  background-color:#afedaf;
}

.button-xd {
  width: 100%;
  height: 50px;
  max-width: 233px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  background-color: #FFB54D;
  color: #FEFDE9;
  outline: none;
  border: none;
}

.button-xd:active {
  background-color: rgb(226, 141, 21);
}